.restaurantDetails {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    max-width: 1000px;
    margin: auto;
  }

  &__menuList {
    & > div {
      margin-top: 5px;
    }
  }
}
